
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
    Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

}

<div>
    <div class="row">
        <partial name="_ManageNav"/>

        <div class="col">
            @RenderBody()
        </div>

    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false);
    <script src="~/js/navigation.js"></script>
}