@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Index">Home</a>
        <a class="nav-link text-dark" asp-page="/UserList">User List</a>
    </li>
</ul>
