@using Microsoft.AspNetCore.Http.Extensions

<ul class="nav nav-tabs justify-content-evenly mb-2">
    <li class="nav-item">
        <a class="nav-link text-dark @(Context.Request.Path == "/Identity/Account/Admin" ? "active" : "")" asp-area="Identity" asp-page="/Account/Admin/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark @(Context.Request.Path == "/Identity/Account/Admin/UserList" ? "active" : "")" asp-area="Identity" asp-page="/Account/Admin/UserList">User List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark">Logs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark">App Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark">Database Management</a>
    </li>
    <li>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="False">
                Statistics
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#">Server</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Database</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Web Traffic</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Security</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
