
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Admin/UserList">User List</a>
    </li>
</ul>

