@page
@model NoteApp.Areas.Identity.Pages.Account.Admin.Index
@inject UserManager<User> UserManager


@{
    Layout = "Admin/_AdminLayout";
}

<div>
    <h2>@(UserManager.GetUserName(User))</h2>
    <div>
        <div class="col-md-3">
        </div>
    </div>
    
</div>

