@model IEnumerable<NoteApp.Models.Note>

<h1>Notes</h1>
<div class="container-fluid">
        <div class="row badge bg-black">
                <a class="text-white text-decoration-none text-md-center" href="@Url.Action("Create")">New Note +</a>
        </div>
</div>

<select id="viewSelector">
        <option value="Card">Card View</option>
        <option value="Table">Table View</option>
</select>

<div class="container text-center" id="notesSection">
        <div class="row justify-content-sm-center">

        </div>
</div>


<script>
        $(document).ready(function() {
                $('.delete-note').on('click', function() {
                        const noteId = $(this).data('note-id');
                        $.ajax({
                                url: '/Note/Delete/' + noteId,
                                type: 'POST',
                                headers: {
                                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                },
                                success: function(result) {
                                        if (result.success) {
                                                // Remove the note from the DOM
                                                $(this).closest('.card').remove();
                                        } else {
                                                // Handle error
                                                alert('Error deleting note.');
                                        }
                                }
                                
                        });
                });
        });
</script>
<script src="~/js/bundle.js"></script>

