@using Microsoft.AspNetCore.Identity
@model NoteApp.Models.ViewModels.Notes.NoteTagViewModel
@inject UserManager<User> UserManager

<h1>Notes</h1>
<div class="p-0 container mb-1 mt-1 button-select-group">
        <div class="btn-group-sm" role="group" aria-label="Note Creation Button Group">
                @* *@
                @* @if (ViewBag.Roles[0] == "Admin") *@
                @* {  *@
                @*         <a class="btn btn-primary text-md-center text-white text-decoration-none" href="@Url.Action("CreateTestNotes")">Create Test Notes</a> *@
                @* } *@


                <a class="btn btn-secondary text-white text-decoration-none text-md-center" href="@Url.Action("Create")">New Note +</a>
                <a class="btn btn-secondary text-white text-decoration-none text-md-center" asp-action="Create" asp-controller="Category">Create Category</a>
                <a class="btn btn-secondary text-white text-decoration-none text-md-center" asp-action="Create" asp-controller="Tag">Create Tag</a>

        </div>
        <select class="form-select" aria-label="View Selector" id="viewSelector">
                <option value="Card">Card View</option>
                <option value="Table">Table View</option>
        </select>
        

</div>


<div class="container text-center p-0 mb-5" id="notesSection">
        @await Html.PartialAsync("_TableView", Model)
</div>

@section Scripts
{
        <script>
                $(document).ready(function() {
                        $('.delete-note').on('click', function() {
                                const noteId = $(this).data('note-id');
                                $.ajax({
                                        url: '/Note/Delete/' + noteId,
                                        type: 'POST',
                                        headers: {
                                                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                        },
                                        success: function(result) {
                                                if (result.success) {
                                                        // Remove the note from the DOM
                                                        $(this).closest('.card').remove();
                                                } else {
                                                        // Handle error
                                                        alert('Error deleting note.');
                                                }
                                        }
                                        
                                });
                        });
                });
        </script>
}


